<p class="right__desc">Tạo bài mới</p>
<div class="right__formWrapper">
    <form action="/checkin/create" method="post">
        <input type="hidden" name="category" value="TYPE_TRAVEL_CHECKING">
        <div class="right__inputWrapper">
            <label for="title">Tiêu đề</label>
            <input type="text" placeholder="Tiêu đề..." name="title">
            <label for="title">Địa chỉ</label>
            <input type="text" placeholder="Địa chỉ..." name="address">
            <label for="title">Url/Image ( Hình Ảnh )</label>
            <input type="text" placeholder="URL Image..." name="image">
        </div>
        <div class="right__MoreInfomation">
            <label for="coordinates_positions">Thông tin thêm</label>
            <div>
                <input type="number" step="any" placeholder="Latitude (Vĩ độ)..." name="latitude">
                <input type="number" step="any" placeholder="Longitude (Kinh độ)..." name="longitude">
                <input type="text" placeholder="Thời gian hoạt động..." name="timeWork">
                <input type="text" placeholder="Tác giả..." name="author">
                <input type="number" placeholder="Từ giá trị ..." name="priceBuyFrom">
                <input type="number" placeholder="Đến giá trị ..." name="priceBuyTo">
            </div>
        </div>
        <div class="right__Utilities">
            <label for="hastag">Gắn thẻ tags</label>
            <div>
                <input type="text" id="exist-values" class="tagged form-control" data-removeBtn="true" name="hashtag" placeholder="Hashtag/nhãn...">
            </div>
        </div>
        <div class="right__inputWrapper">
            <label for="desc">Mô tả</label>
            <div class="editor-wrapper">
                <div id="editor-container">
            </div>
        </div>
        <br>
        <div class="right__inputWrapper">
            <label for="desc">Render Markdown</label>
            <div class="editor-wrapper">
                <input type="hidden" name= "description">
                <div id="markdown"></div>
            </div>
        </div>
        <br>
        <div class="buttonContainer">
            <span><a class="btn btn-done" href="/checkin">Trở về</a></span>
            <span><div class="btn btn-hidden"></div></span>
            <span><button class="btn btn-submit" type="submit">Tạo bài đăng mới</button></span>
        </div>
    </form>
</div>
{{>pushScript}}